# PhpStorm
.idea/

# DB
*.sql

# Application
web/app/languages
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*
!web/app/mu-plugins/.gitkeep
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/themes/lawcom/dist/

# WordPress
web/wp
web/.htaccess

# Dotenv
.env
.env.*
!.env.example

# Composer
vendor/*
!vendor/.gitkeep

# Theme
web/app/themes/lawcom/node_modules
web/app/themes/lawcom/assets/vendor
