# PhpStorm
.idea/

# Mac
.DS_*
._DS_*

# DB
*.sql

# Application
web/app/languages
web/app/plugins/*
web/app/mu-plugins/wp-*/*
web/app/upgrade
web/app/uploads/*

!web/app/mu-plugins/.gitkeep
!web/app/plugins/.gitkeep
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Dotenv
.env
.env.*
!.env.example

# Composer
vendor/*
!vendor/.gitkeep

# Theme
web/app/themes/lawcom/dist
web/app/themes/lawcom/node_modules
